#particles-js {

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0
		z-index: 55555555555555555;
}

#particles-js canvas {
background: transparent;
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
				z-index: 55555555555555555;
}
	   }


iframe {
	z-index: -3;
}
@keyframes example {
  0% {width: 15%;}
     0% {transform: scale(1);}
  50%{transform: scale(1.5);}
  100% {transform: scale(1);}
}
	#myVideo {
		z-index: -2 !important;
    position: fixed;
    right: -15%;
    bottom: -9%;
    min-width: 130%;
    min-height: 130%;
		-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);

}
#onlinep
{ 	top: -5%!important;

	  font-family: 'Orbitron', sans-serif;

	z-index: 1;
	position: relative;
  text-align: center;

  font-size: 150%;
  color: white;

    color: #42C02D;


}


#online
{
	top: -5.05% !important;

	font-family: 'Mukta Mahee', sans-serif;

	z-index: 1;
	position: relative;
  text-align: center;

  font-size: 120%;
  color: white;
  }
.img {

	animation: example 5s infinite;
	top: 25% !important;
	left: 43% !important;
}
:root {
	/* if u want to change the color of
	 * the ripple change this value
	*/
	--color-ripple: rgba(255,255,255,0.8);
}
.slet {
	z-index: 1;
	position: relative;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	width: 200px;
	margin: auto;
}
*[data-animation="ripple"] {
	position: relative; /*Position relative is required*/
	height: 100%;
	width: 100%;
	display: block;
	outline: none;
	padding: 20px;
	color: #fff;
	text-transform: uppercase;
	background: linear-gradient(135deg, #29c75b 0%,#42C02D 100%);
	box-sizing: border-box;
	text-align: center;
	line-height: 14px;
	font-family: roboto, helvetica;
	font-weight: 200;
	letter-spacing: 1px;
	text-decoration: none;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
  /*border-radius: 50px;*/
	-webkit-tap-highlight-color: transparent;
	z-index: 1;
}

*[data-animation="ripple"]:focus {
	outline: none;
	z-index: 1;
}

*[data-animation="ripple"]::selection {
	background: transparent;
	pointer-events: none;
	z-index: 1;
}
.modal-body
{
    z-index: 200000000000;
}
body {

background-color:  black;
 }


 h1 {
	 text-align: center;
 	position: relative;
 	z-index: 1;
	margin-top: 50%;



 	margin-right: 0 auto;

 	margin-top: 23%;
 	font-family: 'Hind', sans-serif;
 	color: white;
 	animation: title 5s infinite;
 }
.link {

	color: #42C02D ;
}

 h3 {
  position: relative;
  z-index: 1;
top: 5%;

text-align: center;



	font-size: 100%;
  color: white;
  animation: title 5s infinite;
 }

 @keyframes title {


}